<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title th:text="${titulo}"></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/cff6dddb5f.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" th:href="@{/css/estilos.css}">
        <script src="/js/alerta.js"></script>
    </head>
    <body>
        <header th:fragment="header">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{../../../img/logo.png}" width="60" height="30" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${userName!=''}" th:href="@{/admin/usuarios/principal}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:if="${userName!=''}" th:href="@{/admin/roles/principal}">Roles</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <label th:if="${userName!=''}" th:text="${nombre}" style="color: #ffffff;"></label>
                        <a class="nav-link" th:if="${userName!=''}" th:text="Salir" th:onclick="return confirmCloseSession();" th:href="@{/logout}" style="color: lightgray;"></a>
                    </form>

                </div>
            </nav>

        </header>


        <div class="container">
        </div>

    </body>
</html>